@import url(https://allfont.net/allfont.css?fonts=digital-7);

@font-face {
  font-family: "Digital-7";
  src: local("Digital-7"), local("Digital-7"), url("./font/digital-7.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
}
